/* Estil base per a tots els enllaços */
a {
    color: #420ff8;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease, box-shadow 0.3s ease;
}

/* Estil per a l'efecte hover */
a:hover {
    color: #3be9e0; 
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.8); 
}

/* Estil per a l'efecte actiu */
a:active {
    color: #4CAF50;
}


/* Estil especial per a botons enllaç */
.button-link {
    display: inline-block;
    padding: 10px 20px;
    background: linear-gradient(45deg, #FF6F61, #6A0572);
    color: white;
    border-radius: 50px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.button-link:hover {
    transform: scale(1.1);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.3);
}

.button-link:active {
    transform: scale(0.95);
}
