// Colors
$primary-color: #d42e2e;
$secondary-color: #fcfff2;
$background-color: #f5f5f5;
$accent-color: #4fc1dd;
$p-color: #252525;

// Fonts
$font-family: 'Clash';
$font-titols: 'Thunder';
$base-font-size: 16px;

// Transicions
$transition-time: 0.3s;

// Thumbnails
$thumbnail-size: 150px;
$thumbnail-margin: 10px;